$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// FONTS
@font-face {
  font-family: AvenirNext;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/AvenirNext-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/AvenirNext-Regular.otf") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/AvenirNext-Italic.otf") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/AvenirNext-Bold.otf") format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/AvenirNext-Heavy.otf") format("opentype");
}

// COMMON VARIABLES
$brand-primary: #00ffc6;
$brand-secondary: #fff;
$navbar-height: 60px;

// GENERAL
body {
  background: #313131;
}

// MENU
.navbar-default {
  z-index: 999;
  font-family: AvenirNext;
  font-weight: 700;
  background: none;
  border: none;
  width: 100%;
  height: $navbar-height;
  padding-top: 30px;
  text-align: center;

  .navbar-toggle {
    background: none !important;

    &:hover {
      background: $brand-primary !important;
    }

    .icon-bar{
      background: $brand-secondary;
    }

    @media only screen and (max-width : $screen-xs-max) {
      border: none;
    }
  }

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

    li {
      margin: 0px 30px 0px 30px;
      &:last-child {
        border: solid $brand-primary 1px;
        border-radius: 20px;

        @media only screen and (max-width : $screen-xs-max) {
          border: none;
        }
      }

      &:hover{
        border-radius: 20px;
        background-color: $brand-primary;
      }

      a {
        color: $brand-secondary !important;
        padding: 5px 20px 5px 20px;

        &:hover{
          color: #202020 !important;
        }
      }

      @media only screen and (max-width : $screen-lg) {
        margin: 0;
      }

      @media only screen and (max-width : $screen-xs-max) {
        padding: 0px 50px 0px 50px;
      }
    }
  }

  .navbar-collapse {
    @media only screen and (max-width : $screen-xs-max) {
      background: #202020;
    }
  }

  @media only screen and (max-width : $screen-xs-max) {
    width: 100%;
    height: 30px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.fire-fixed {
  .navbar-nav {
    li {
      margin: 0;
    }
  }

  @media only screen and (min-width : $screen-xs-max) {
    position: fixed;
    background: #202020 !important;
    padding-top: 15px;
  }

  .fire-button-gradient-nav {
    @media only screen and (min-width : $screen-lg) {
      display: inline;
    }
  }

  .fire-logo-nav {
    @media only screen and (min-width : $screen-md) {
      display: inline;
    }
  }

  @media only screen and (max-width : $screen-sm) {
    background: #202020 !important;
    position: fixed;
  }
}

.fire-logo-nav {
  float: left;
  height: 35px;
  display: none;
}

.fire-button-gradient-nav {
  float: right;
  height: 30px;
  color: $brand-secondary;
  border-radius: 20px;
  border: none;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  font-family: AvenirNext;
  font-weight: 700;
  font-size: 12px;
  background: #ff721f; /* For browsers that do not support gradients */
  background: linear-gradient(#ff721f, #ff4337); /* Standard syntax */
  letter-spacing: 0.5px;
  display: none;
}

// HOME
header {
  height: 100vh;
  background: url('/images/fundo.png') no-repeat center center;
  background-size: cover;

  span, h2, h3, a, button {
    text-transform: uppercase;
  }

  @media only screen and (max-width : $screen-md) {
    height: 100%;
  }

  @media only screen and (max-width : $screen-sm) {
    background: url('/images/fundo_pattern.png') repeat;
  }

  @media screen and (max-height: 900px) {
    height: 100%;
  }
}

.fire-jumbotron {
  height: calc(100vh - #{$navbar-height} - #{$navbar-margin-bottom});
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media only screen and (max-width : $screen-md) {
    height: 100%;
  }

  @media screen and (max-height: 900px) {
    height: 100%;
  }
}

.fire-jumbotron-inner {
  @media only screen and (max-width : $screen-md) {
    height: 100%;
  }

  @media screen and (max-height: 900px) {
    height: 100%;
  }
}

.fire-small-text {
  font-family: AvenirNext;
  font-weight: 700;
  color: $brand-primary;
}

.fire-subtitle {
  font-family: AvenirNext;
  color: $brand-primary;
  font-size: 18px;
  letter-spacing: 3px;
  max-width: 750px;
  margin-top: 50px;
  line-height: 22px;

  span {
    color: $brand-secondary;
    font-weight: 700;
  }

  @media only screen and (max-width : $screen-sm) {
    font-size: 15px;
  }
}

.fire-info {
  h3 {
    font-family: AvenirNext;
    color: $brand-secondary;
    font-size: 15px;
    margin: 10px;

    span {
      color: $brand-primary;
    }

    @media only screen and (max-width : $screen-sm) {
      font-family: AvenirNext;
      color: $brand-secondary;
      font-size: 15px;
    }
  }
}

.fire-info-data {
  letter-spacing: 2.5px;
  font-weight: 700;
}

.fire-info-local {
  font-weight: 300;
}

.fire-button-gradient {
  color: $brand-secondary;
  border-radius: 20px;
  border: none;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  font-family: AvenirNext;
  font-weight: 700;
  background: #ff721f; /* For browsers that do not support gradients */
  background: linear-gradient(#ff721f, #ff4337); /* Standard syntax */
  margin: 20px 0 60px 0px;
  letter-spacing: 1.5px;
}

.fire-vertical-hr {
  transform: rotate(90deg);
  width: 90px;
  color: $brand-primary;
  border-top: 1px solid $brand-primary;
  margin-bottom: 0;

  @media screen and (max-height: 900px) {
    display: none;
  }

  @media screen and (max-width : $screen-md) {
    display: none;
  }
}

// VIDEO
.fire-nopaddings {
  padding: 0 !important;
}

.fire-video-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media only screen and (max-width : $screen-md) {
    height: 100%;
    padding: 50px 0px 100px 0px;
  }
}

.fire-video-container-inner {
  width: 100vw;
  float: none;
  margin: 0 auto;
}

.fire-video-player {
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.fire-video-play {
  z-index: 300;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @media only screen and (max-width : $screen-lg) {
    width: 200px;
    height: 200px;
  }

  @media only screen and (max-width : $screen-sm) {
    width: 180px;
    height: 180px;
  }
}

.fire-video-desc {
  z-index: 300;
  position: relative;
  top: 50px;
  left: 50px;
  border-left: solid 1px $brand-secondary;
  padding: 0px 0px 100px 30px;

  h4 {
    text-align: left;
    font-family: AvenirNext;
  }

  @media only screen and (max-width : $screen-lg) {
    padding: 0px 0px 100px 20px;
  }

  @media only screen and (max-width : $screen-md) {
    padding: 0;
    border: none;
    top: 20px;
    left: 0;
  }

  @media only screen and (max-width : $screen-sm) {
    top: 10px;
  }
}

.fire-video-main-text {
  width: 280px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 45px;
  line-height: 40px;
  color: $brand-primary;
  margin: 0;

  @media only screen and (max-width : $screen-lg) {
    width: 220px;
    font-size: 40px;
    line-height: 35px;
  }

  @media only screen and (max-width : $screen-md) {
    width: 100%;
    font-size: 30px;
    line-height: 35px;
  }

}

.fire-video-text {
  width: 310px;
  font-size: 18px;
  line-height: 25px;
  color: #cdcdcd;
  margin-top: 5px;

  @media only screen and (max-width : $screen-lg) {
    width: 250px;
    font-size: 14px;
    line-height: 20px;
  }

  @media only screen and (max-width : $screen-md) {
    width: 100%;
    margin: 0;
  }

  @media only screen and (max-width : $screen-sm) {
    font-size: 14px;
    line-height: 20px;
  }
}

// TESTIMONIES
.fire-testimonies-container {
  background: url('/images/fundo_pattern.png') repeat;
  height: 100%;
  padding: 100px 0px 100px 0px;

  @media only screen and (max-width : $screen-lg) {
    padding-top: 50px;
  }
}

.fire-testimony {
  display: flex;
  align-items: center;
  @media only screen and (max-width : $screen-md) {
    display: block;

  }
}

.fire-testimonies-info-container {
  @media only screen and (max-width : $screen-md) {
    position: absolute;
    top: 0;
  }
}

.fire-testimonies-text {
  text-transform: uppercase;
  width: 310px;
  font-size: 18px;
  line-height: 25px;
  color: #cdcdcd;
  text-align: right;
  float: right;
  margin-top: 50px;

  @media only screen and (max-width : $screen-lg) {
    font-size: 15px;
    line-height: 15px;
  }

  @media only screen and (max-width : $screen-md) {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
}

.fire-testimonies-author-name {
  width: 460px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  color: $brand-primary;
  margin-top: 0;
  letter-spacing: 0px;
  text-align: right;
  float: right;

  @media only screen and (max-width : $screen-lg) {
    font-size: 30px;
  }

  @media only screen and (max-width : $screen-md) {
    width: 100%;
    text-align: center;
  }

  @media only screen and (max-width : $screen-xs) {
    font-size: 20px;
  }
}

.fire-testimonies-brand-image {
  float: right;
  @media only screen and (max-width : $screen-md) {
    display: none;
  }
}

.fire-testimonies-author-image-container {
  @media only screen and (max-width : $screen-md) {
    width: 100%;
    display: block !important;
    text-align: center !important;
  }
}

.fire-testimonies-author-image {
  width: 250px;
  margin-top: 30px;
  position: relative;
  z-index: 500;

  @media only screen and (max-width : $screen-lg) {
    width: 150px;
  }

  @media only screen and (max-width : $screen-md) {
    margin-top: 70px;
  }

  @media only screen and (max-width : $screen-xs) {
    margin-top: 80px;
    width: 100px;
  }
}

.fire-testimonies-text-container {
  background: #373737;
  margin-top: 40px;

  @media only screen and (max-width : $screen-md) {
    margin: -70px 10px 0px 10px;
    padding: 10px 0px 10px 0px;
  }
}

.fire-testimonies-author-text {
  padding: 20px 140px 60px 120px;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
  color: #cdcdcd;
  text-align: left;

  @media only screen and (max-width : $screen-lg) {
    padding: 10px 60px 30px 60px;
    font-size: 12px;
    line-height: 15px;
  }

  @media only screen and (max-width : $screen-xs) {
    padding: 10px 20px 20px 20px;
  }
}

.fire-testimonies-quote-image {
  width: 50px;
  margin: 50px 0px 0px 100px;

  @media only screen and (max-width : $screen-lg) {
    width: 30px;
    margin: 20px 0px 0px 50px;
  }
}

.fire-testimonies-carousel-navigation {
  color: $brand-primary;
  text-align: center;

  .fire-nav-button {
    cursor: pointer;
    background: #4d4d4d;
    padding: 15px;
    margin: -2px -2px 0px -2px;
  }

  .enabled {
    &:hover {
      background: $brand-primary;
      color: $brand-secondary;
    }
  }

  .disabled {
    color: #4d4d4d;
    background: #373737;
  }

  @media only screen and (max-width : $screen-sm) {
    display: none;
  }
}

.fire-testimonies-carousel-items-count {
  position: absolute;
  padding: 13px 0px 0px 20px;
  @media only screen and (max-width : $screen-sm) {
    display: none;
  }
}

// SPEAKERS
.fire-speakers-container {
  font-family: AvenirNext;
  height: 100%;
  padding: 100px 0px 100px 0px;

  @media only screen and (max-width : $screen-md) {
    padding: 0;
    display: block;
    text-align: center;
  }
}

.fire-speakers-title {
  width: 450px;
  z-index: 500;
  position: absolute;
  top: 100px;
  font-family: AvenirNext;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 70px;
  color: $brand-primary;
  transform: rotate(-90deg) translateY(0);
  margin: 200px 0px 0px 20px;

  @media only screen and (max-width : $screen-lg) {
    width: 250px;
    font-size: 50px;
    top: 30px;
  }

  @media only screen and (max-width : $screen-md) {
    position: relative;
    margin-top: 0;
    transform: rotate(0);
    width: 100%;
    text-align: center;
  }

  @media only screen and (max-width : $screen-md) {
    width: auto;
    font-size: 40px;
  }

  @media only screen and (max-width : $screen-xs) {
    font-size: 25px;
  }
}

.fire-main-speaker-photo {
  width: 900px;

  @media only screen and (max-width : $screen-lg) {
    width: 600px;
  }

  @media only screen and (max-width : 732px) {
    width: 350px;
  }

  @media only screen and (max-width : $screen-xs) {
    width: 220px;
  }
}

.fire-main-speaker-name {
  width: 300px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  color: $brand-primary;
  margin: 90px 0px 45px 0px;

  @media only screen and (max-width : $screen-lg) {
    margin-left: 100px;
  }

  @media only screen and (max-width : $screen-md) {
    font-size: 30px;
    margin: 0;
    width: 100%;
  }

  @media only screen and (max-width : $screen-xs) {
    font-size: 20px;
  }
}

.fire-main-speaker-brand-image {
  width: 250px;

  @media only screen and (max-width : $screen-lg) {
    margin-left: 100px;
  }

  @media only screen and (max-width : $screen-md) {
    margin: 0;
    width: 200px;
  }

  @media only screen and (max-width : $screen-xs) {
    margin: 0;
    width: 150px;
  }
}

.fire-main-speaker-text {
  background: $brand-secondary;
  padding: 50px;
  width: 480px;
  margin-top: 90px;

  @media only screen and (max-width : $screen-lg) {
    padding: 30px;
    width: 400px;
  }

  @media only screen and (max-width : $screen-md) {
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  @media only screen and (max-width : $screen-xs) {
    padding: 20px;
    line-height: 15px;
  }
}

.fire-speaker {
  padding: 0;
  height: 520px;

  @media only screen and (max-width : $screen-lg) {
    height: 380px;
  }

  @media only screen and (max-width : $screen-md) {
    background: #282828;
    margin: 15px;
  }

  @media only screen and (max-width : $screen-sm) {
    background: none;
  }

  @media only screen and (max-width : $screen-xs) {
    height: 250px;
  }
}

.fire-speakers-photo {
  float: right;
  width: 420px;

  @media only screen and (max-width : $screen-lg) {
    width: 300px;
  }

  @media only screen and (max-width : $screen-md) {
    width: auto;
    height: 100%;
  }

  @media only screen and (max-width : $screen-sm) {
    width: 100%;
    height: auto;
  }
}

.fire-speakers-info {
  z-index: 500;
  background: #373737;
  width: 230px;
  height: auto;
  padding: 5px 10px 5px 10px;
  margin-left: 40px;
  float: left;
  position: relative;
  top: -110px;

  @media only screen and (max-width : $screen-lg) {
    width: 200px;
  }

  @media only screen and (max-width : $screen-md) {
    position: absolute;
    top: 55px;
    left: 35px;
    width: 250px;
  }

  @media only screen and (max-width : $screen-sm) {
    position: relative;
    top: -80px;
  }

  @media only screen and (max-width : $screen-xs) {
    width: 200px;
    left: 0;
    margin-left: 0;
  }
}

.fire-speakers-name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  color: $brand-primary;

  @media only screen and (max-width : $screen-lg) {
    margin-bottom: 0;
    font-size: 20px;
  }

  @media only screen and (max-width : $screen-xs) {
    font-size: 15px;
  }
}

.fire-speakers-bio {
  margin-top: 30px;
  color: $brand-secondary;
  font-size: 12px;

  @media only screen and (max-width : $screen-lg) {
    margin-top: 10px;
  }

  @media only screen and (max-width : $screen-xs) {
    font-size: 10px;
  }
}

.fire-bio-button-open {
  text-transform: uppercase;
  font-weight: 700;
  color: $brand-primary;
  cursor: pointer;
  width: 92px;
  padding: 10px;

  &:hover {
    color: #373737;
    background: $brand-primary;
  }

  @media only screen and (max-width : $screen-xs) {
    font-size: 10px;
  }
}

.fire-bio-button-close {
  color: $brand-primary;
  cursor: pointer;
  display: none;

  &:hover {
    color: #fff;
  }
}

.fire-speakers-long-bio-container {
  z-index: 600 !important;
  position: relative;
}

.fire-speakers-long-bio {
  display: none;
  margin-top: 0;
}

.fire-speakers-brand-image {
  padding: 10px;
  position: relative;
  top: -50px;
  left: 10px;

  @media only screen and (max-width : $screen-lg) {
    top: -110px;
    left: 50px;
  }

  @media only screen and (max-width : $screen-md) {
    position: absolute;
    top: 200px;
    left: 130px;
    width: 200px;
  }

  @media only screen and (max-width : $screen-sm) {
    display: none;
  }
}

.fire-speakers-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h4 {
    font-family: AvenirNext;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
    color: $brand-primary;

    span {
      color: #f5f5f5;
    }

    @media only screen and (max-width : $screen-lg) {
      font-size: 30px;
    }

    @media only screen and (max-width : $screen-md) {
      background: #282828;
      padding: 30px;
      border-radius: 20px;
      font-size: 25px;
      margin-bottom: 25px;
    }

    @media only screen and (max-width : $screen-xs) {
      font-size: 15px;
    }
  }

  @media only screen and (max-width : $screen-sm) {
    width: 100%;
  }
}

// FOOTER
.fire-footer {
  font-family: AvenirNext;
  text-transform: uppercase;
  color: $brand-primary;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('/images/fundo_pattern.png') repeat;
  padding-top: 20px;

  @media only screen and (max-width : $screen-sm) {
    display: block;
  }
}

.fire-footer-imprensa {
  font-weight: 700;
  font-size: 12px;
  padding: 20px;
  a {
    text-decoration: none;
    color: $brand-primary;
  }
  &:hover {
    background: #171717;
  }

  @media only screen and (max-width : $screen-md) {
    padding: 10px;
  }

  @media only screen and (max-width : $screen-xs) {
    margin: 0;
  }
}

.fire-footer-logo {
  @media only screen and (max-width : $screen-xs) {
    width: 100px;
  }
}

.fire-footer-copyright {
  color: #4b4b4b;
  font-size: 10px;

  span {
    color: $brand-primary;
  }
}

.fire-footer-social-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h4 {
    font-size: 12px;
    text-align: right;
    width: 120px;
    display: inline-block;
  }

  i {
    display: inline-block;
    padding: 5px;
    float: right;
  }

  a {
    text-decoration: none;
    color: $brand-primary;
    &:hover {
      color: #fff;
    }
  }
}
